body{
    background-color: rgb(227, 200, 252);
    color: white;
   
}
.block{
    font-size: 50;
    height: 10%;
    display: block;
    border:  2px solid white;
    margin-bottom: 10px;
    background-color: rgb(210, 133, 255);
}
.pink{
    padding: 40;
    margin-bottom: 5px;
    background-color: rgb(210, 133, 255);
}
.inline{
    font-size: 30px;
    display: inline;
    
}
.teste{
    background-color: rgb(210, 133, 255);
    font-size: 50px;
    padding: 15px;
    border:  2px solid white;
    display: inline;
}
.inline-block{
    display: inline-block;

}
.inline_flex{
    display: inline-flex;
     gap: 30px;
    padding: 15px;
    border:  2px solid white;
    font-size: 30px;
    background-color: rgb(210, 133, 255);

}

.quadradinho{
    display: block;
    width: 20px;
    padding: 15px;
    border:  2px solid white;
    font-size: 30px;
    background-color: rgb(210, 133, 255);
}

.elemento{
    background-color: rgb(210, 133, 255);
    font-size: 50px;
    padding: 15px;
    border:  2px solid white;
    display: inline-block;
}

.tabela{
    display: table;
    border-collapse: collapse;
}
.linha{
    display: table-row;
    font-size: 30px;
}
.celula{
    display: table-cell;
    font-size: 30px;
    border:  2px solid white;
    background-color: rgb(210, 133, 255) ;
}

.flex{
    display: flex;
    gap: 10px;
    margin-right: 50%;
    margin-top: 20px;
    flex-wrap: wrap;
}

.yo{
    margin-right: 10%;
    margin-top: 20px; 
    background-color: rgb(210, 133, 255);
    border: 2px solid white;       
}
.blue{
    margin-right: 10%;
    padding: 30;
    margin-top: 20px; 
    background-color: rgb(210, 133, 255);
    border: 2px solid white;       
}


.grid{
    display: grid;
    gap: 15px;
    margin-right: 800px;
}

.inline-grid{
  display: inline-grid;
  grid-template-columns:auto auto auto; 
  gap: 10px; 
  border:  2px solid white;
  font-size: 50px;
  background-color:  rgb(210, 133, 255) ;
}
.item{
background-color: rgb(210, 133, 255);
padding: 20px;  
border:  2px solid white;  
text-align: center;
border:  2px solid white;
}

.flow_root{
display: flow-root;  
margin-top: 20px;
margin-right: 800px;  
}

.item2{
background-color: rgb(210, 133, 255);
border:  2px solid white;
float: left;
width: 50px;
height: 50px;
margin: 10px;
margin-top: 20px;
text-align:center;
}

.block_flow{
    display: block flow;
    background-color: rgb(210, 133, 255);
    border:  2px solid white;
    margin-right: 800px;
}