

body{
    background-color: rgb(235, 212, 253);
    color: rgb(137, 38, 177);
    margin: 0;
}

#navbar {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: rgba(138, 38, 177, 0.664); 
    text-align: center;
    color: rgb(218, 158, 253);
}

.block {
    font-size: 50;
    height: 10%;
    width: 50%;
    display: block;
    border: 2px solid white;
    margin-bottom: 10px;
    background-color: rgb(210, 133, 255);
    margin-left: 10;
}

.block_pink {
    display: block;
    padding: 40;
    font-size: 30;
    margin-bottom: 20px;
    background-color: rgb(210, 133, 255);
    text-align: center;
    border: 2px solid white;
    font-size: 50;
}

.inline {
    font-size: 30px;
    display: inline;

}

.teste {
    background-color: rgb(210, 133, 255);
    font-size: 50px;
    padding: 15px;
    border: 2px solid white;
    display: inline;
}

.inline-block {
    display: inline-block;

}

.inline_flex {
    display: inline-flex;
    gap: 30px;
    padding: 15px;
    border: 2px solid white;
    font-size: 30px;
    background-color: rgb(210, 133, 255);

}

.quadradinho {
    display: block;
    width: 20px;
    padding: 15px;
    border: 2px solid white;
    font-size: 30px;
    background-color: rgb(210, 133, 255);
    font-size: 50;
}

.elemento {
    background-color: rgb(210, 133, 255);
    font-size: 50px;
    padding: 15px;
    border: 2px solid white;
    display: inline-block;
}

.tabela {
    display: table;
    border-collapse: collapse;
}

.linha {
    display: table-row;
    font-size: 30px;
}

.celula {
    display: table-cell;
    font-size: 50px;
    border: 2px solid white;
    background-color: rgb(210, 133, 255);
}

.flex {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.yo {
    margin-top: 20px;
    background-color: rgb(210, 133, 255);
    border: 2px solid white;
}

.blue {
    padding: 40;
    margin-top: 20px;
    background-color: rgb(210, 133, 255);
    border: 2px solid white;
    font-size: 50px;
}

.green {
    display: inline;
    padding: 30;
    background-color: rgb(210, 133, 255);
    border: 2px solid white;
    font-size: 50;
}

.purple {
    padding: 20;
    background-color: rgb(210, 133, 255);
    border: 2px solid white;
    text-align: center;
    font-size: 50;
}

.grid {
    display: grid;
    gap: 15px;
    margin-right: 800px;
}

.inline-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    border: 2px solid white;
    font-size: 50px;
    background-color: rgb(210, 133, 255);
}

.item {
    background-color: rgb(210, 133, 255);
    padding: 20px;
    border: 2px solid white;
    text-align: center;
    font-size: 50px;
}

.flow_root {
    display: flow-root;
    margin-top: 20px;
}

.item2 {
    background-color: rgb(210, 133, 255);
    border: 2px solid white;
    float: left;
    padding: 20;
    margin-top: 10px;
    text-align: center;
    margin: 10;
    font-size: 50px;
}

.item3 {
    flex-flow: wrap;
    margin-right: 20px;
    padding: 15px;
    text-align: center;
}

.item4 {
    flex-flow: wrap;
    font-size: 50px;
    margin-right: 20px;
    padding: 15px;
    text-align: center;
    background-color: rgb(210, 133, 255);
    border: 2px solid white;
}

.grid2 {
    display: grid;
    gap: 15px;
}

#gato {
    right: 0px;
    bottom: 0px;
    position: fixed;
    width: 200px;
    height: 200px;
}
.cor{
    background-color: rgb(223, 182, 250);
    padding-bottom: 20;
}

.inline_flow_root{
    display: inline flow-root;
    border: 2px solid white;
    padding: 10px;
    margin-left: 10px;
    width: 50%;
    background-color: rgb(210, 133, 255);
}

.caixa{
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 2px solid white;
    background-color: rgb(210, 133, 255);
    font-size: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}